# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db